*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
ul , ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family:  var(--font-family);
}
:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "PT Sans", sans-serif;
    --third-family: "Potta One", sans-serif;
  }
/* css common */

/* ================ navbar start ============= */
#mynavbar ul li a{
    font-weight: 500;
    font-size: 15px;
    line-height: 200%;
    color: #353535;
    padding: 18px  22px 5px;
    transition: 0.3s;
}
#mynavbar ul li a:hover{
    border-bottom: 1px solid #353535;
}
#mynavbar ul li a.active{
    border-bottom: 1px solid #353535;   
}
nav .navbar-toggler{
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 29px;
    padding: 0;
}
/* ================ navbar end ============== */
/* ================ contact banner start ============= */
#contact{
    margin-top: 90px;
    padding: 20px 0;
    text-align: center; /* Center the text */
}
#contact .container{
    background-image: url(../images/about-bg.png);  
    background-repeat: no-repeat; 
    background-size: cover;
    border-radius: 20px;
    height: 180px;
    width: 1110px;
    display: flex;
  align-items: center;
  justify-content: center;
}
#contact  .container h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 46px;
    color: #fff; 

}
#contact .container p{
    position: relative;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 190%;
    color: #fff; 
    margin: 0;   
}
#contact .container p::before,
#contact .container p::after{
    content: '';
    display: inline-block;
    height: 2px;
    width: 84px;
    background-color: #fff; /* Border color */
    vertical-align: middle;
    margin: 0 10px; /* Space between text and border */  
}

/* ================ contact banner end ============== */

/* ================ contact info start ============= */
#info{
    margin-top: 90px;
}
#info .infowrapper{
    display: flex;
    margin-left: 65px;
}
#info .infowrapper img{
    object-fit: contain;
}
#info .text{
    margin-left: 20px;
}
#info .text h4{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 190%;
    color: #353535;   
}
#info .text p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 190%;
    color: #7a7a7a;   
}

#info .container .row .main-form .box{
    padding: 0 0 0 15px;
    }
    #info .container .row .main-form{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    #info .container .row .main-form .box input,
    #info .container .row .main-form .area input{
        padding: 16px 0 16px 32px;
        border-radius: 12px;
        font-family: var(--poppins);
        font-weight: 300;
        font-size: 17px;
        line-height: 190%;
        color: #7a7a7a;
    }
    #info .container .row .main-form .area input{
        padding-bottom: 195px;
        margin-bottom: 21px;
    }
    #info .container .row .main-form .area{
        padding: 0 0 0 15px;
    }
    #info .container .row .main-form button{
        background-color: #FFCC00;
        padding: 11px 46px;
        font-family: var(--poppins);
        font-weight: 500;
        font-size: 18px;
        line-height: 180%;
        text-align: center;
        color: #fff;
        border-radius: 15px;
    }
    #info .container .row .main-form .button{
        padding: 0 0 0 15px;
    }
    #info .container .row .main-form button:hover{
        color: #000;
    }
    @media (max-width: 991.98px){
        #info .container .row .main-form{
            justify-content: space-between;
        }
    }
    
/* ================ contact infoend ============== */

/* ================ footer start ============= */
#footer{
    margin-top: 100px;
    background: #575757;
}
#footer .row .footer-logo, .footer-text, .cta-button{
    margin-top: 80px;
}
#footer .footer-text h3{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 200%;
    color: #fff;    
}
#footer .footer-text p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: justify;
    color: #bbb9b9;    
}
#footer button{
    border-radius: 16px;
    width: 174px;
    height: 63px;
    background: #fc0;
    color: #fff;  
    border: none;  
}
#footer .footer-contact{
    margin-top: 110px;
}
#footer .footer-contact p strong{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: justify;
    color: #bbb9b9;   
}
#footer .footer-contact p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    color: #fff;  
}
#footer .footer-social{
    margin-top: 90px;
}
#footer .footer-social p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: justify;
    color: #fff;
}
#footer .footer-social a{
    display: inline-block;
    height: 28px;   
    width: 28px;
    line-height: 29px;
    text-align: center;
    border-radius: 100%;
    border-radius: 50%;
    background: #484848;
    color: #fff;
    font-size: 14px;
    margin: 0 10px;
}
/* ================ footer end ============== */

