*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
ul , ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family:  var(--font-family);
}
:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "PT Sans", sans-serif;
    --third-family: "Potta One", sans-serif;
  }
/* css common */

/* ================ navbar start ============= */
#mynavbar ul li a{
    font-weight: 500;
    font-size: 15px;
    line-height: 200%;
    color: #353535;
    padding: 18px  22px 5px;
    transition: 0.3s;
}
#mynavbar ul li a:hover{
    border-bottom: 1px solid #353535;
}
#mynavbar ul li a.active{
    border-bottom: 1px solid #353535;   
}
nav .navbar-toggler{
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 29px;
    padding: 0;
}
/* ================ navbar end ============== */

/* ================ banner start ============= */
#banner{
    margin-top: 100px;
    position: relative;
}
#banner .container .row{
  align-items: center;
}
#banner .image-fluid img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    display: block;
    text-align: center;
  }
#banner .container .row .content h3{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #353535;    
} 
#banner .container .row .content h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 64px;
    color: #353535;  
    margin: 15px 0 25px 0;  
}
#banner .container .row .content p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    color: #353535;    
}

#banner .container .row .content .btn{
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 180%;
    color: #fff;
    background: #fc0;
    padding: 18px 53px;
    border-radius: 20px;
    margin-top: 20px;
}
#banner .container .row .content .btn:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;   
}
#banner .container .row .content .btn span{
    margin-left: 11px;
}

#banner .container .row .content .btn.btn-outline{
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    margin-left: 43px;
}


#banner .link-grp{
    margin-top: 66px;
}
#banner .link-grp span{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    line-height: 180%;
    color: #353535;  
    margin-right: 16px;  
}
#banner .social-icon  a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    background-color: #f4f3f3;
    margin: 0 16px;
    color: #000;
}
#banner .mouse{
    display: block;
    bottom: 0;
    position: absolute;
    right: 50%;
}
/* ================ banner end ============== */

/* ================ About start ============= */
#about{
    background-image: url(../images/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 104px;
    position: relative;
}
#about .container .row{
    align-items: center;
}

#about .container .row .content h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    color: #353535;    
}
#about .container .row .content p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
    color: #353535;
    margin: 26px 0 54px 0;    
}
#about .container .row .content a{
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #353535; 
    padding: 17px 43px;
    border: 1px solid #000;
    border-radius: 20px;      
}
#about .container .shap{
    position: absolute;
    bottom: 0;
    right: 20%;
    display: block;
}
/* ================ About end ============== */

/* ================ card start ============= */
#card{
    margin-top: 150px;
}
#card .container .row .col-lg-4{
    text-align: center;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 20px;
    padding: 30px 40px;
    width: calc(33.33% - 32px);
    margin: 0 16px;
}
#card .container .row .col-lg-4 h2{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 180%;
    text-align: center;
    color: #353535;    
}
#card .container .row .col-lg-4 p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    text-align: center;
    color: #7a7a7a;   
}
/* ================ card end ============== */

/* ================ mobile banner start ============= */
#mobile-banner{
    margin-top: 165px;
}
#mobile-banner .container{
 background: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
 border-radius: 30px;
}
#mobile-banner .container .row .col-lg-6 h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 44px;
    color: #353535;   
}
#mobile-banner .container .row{
    align-items: center;
}
#mobile-banner .container .row .col-lg-6 p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 190%;
    color: #353535;
    margin: 21px 0 35px 0; 
    width: 80%; 
}
#mobile-banner .container .row .col-lg-6 a{
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 180%;
    text-align: center;
    color: #353535;
    padding: 18px 38px;   
    border: 1px solid #000;
    border-radius: 20px;  
}
#mobile-banner .container{
    position: relative;
}
#mobile-banner .container .shape{
    position: absolute;
    top: -6%;
    right: 6%;
    display: block;
}

/* ================ mobile banner end ============== */

/* ================ help start ============= */
#help{
    margin-top: 100px;
}
#help .container .service-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 41px;
    display: flex;
    align-items: center;
}
#help .container .service-card .test h5{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    color: #353535;    
}
#help .container .service-card .test p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 180%;
    color: #353535;   
}
#help .container .service-card .test{
    margin-left: 18px;
}
#help .container .co-lg-6 h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    text-align: right;
    color: #353535; 
}
#help .container .row{
    justify-content: space-between;
}
#help .container .col-lg-6 p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
    text-align: right;
    color: #353535;  
    margin-top: 26px;
    padding: 10px 15px;
}

#help .container .stats{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    text-align: right;
    color: #353535;
    margin-top: 32px;     
}
#help .container .stats small{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 10%;
    color: #353535;   
}
/* ================ help end ============== */

/* ================ work experiance start ============= */
#work-experiance{
    margin-top: 90px;
    
}
#work-experiance .heading h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #353535;    
}
#work-experiance .timeline h4{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    color: #353535;    
}
#work-experiance .timeline .date h4{
    font-size: 20px;
}
#work-experiance .timeline h3{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    color: #353535;   
}
#work-experiance .timeline .experiance p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #7a7a7a; 
    margin-top: 12px; 
}
#work-experiance .timeline .date p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #7a7a7a;
    margin-top: 16px;
}
#work-experiance .timelinewrapper{
    margin-top: 79px;
}
#work-experiance .timeline .date{
    border-right: 2px dashed #7a7a7a;
    padding-bottom: 140px;
    position: relative;
}
 .timeline .date::before{
    content: '';
    position: absolute;
    top: -21px;
    right: -21px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px dashed #7a7a7a;
    background-color: #fff;

}
.timeline .date::after{
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px dashed #7a7a7a;
    background-color: #52ab70;;

}
.timeline.red .date::after{
    background-color: #f17676;
}
.timeline.yellow .date::after{
    background-color:  #ffd233;;
}
/* ================ work experiance end ============== */

/* ================ expert areas start ============= */
#expert{
    margin-top: 130px;
}
#expert .container .content h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    color: #353535; 
    margin-bottom: 40px;  
}
#expert .container .content p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #7a7a7a; 
    margin-bottom: 14px;  
}
#expert .container .content a{
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: #fff;
    border-radius: 12px;
    background-color: #fc0;  
    padding: 10px 30px;
    margin-top: 30px;
}
#expert .container .content a span{
    margin-left: 11px;
}
#expert .container .content a:hover{
    background-color: #f1c40f;
}
#expert .container .row .btn{
    border: 1px solid transparent;  
    padding: 16px 65px;  
}
#expert .container .row .btn.active{
    border: 1px solid #000;
    border-radius: 20px;
}
#expert .progresswrapper{
    margin-top: 38px;
}
#expert .progresswrapper .label{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    color: #353535;  
}  
#expert .progresswrapper .progressbar{
    max-width: 380px;
    height: 6px;
    border-radius: 50px;
    background-color:  #d9d9d9;;
}
#expert .progresswrapper .progresscnt{
    height: 6px;
    background-color: #f16500;
    border-radius: 50px;
    text-align: right;
    position: relative;
}
#expert .progresswrapper .progresscnt.photo{
    background: #03249b;
}
#expert .progresswrapper .progresscnt.XD{
    background: #700d60;
}
#expert .progresswrapper .progresscnt.Illustrator{
    background: #234bda;
}
#expert .progresswrapper .progresscnt span{
    position: absolute;
    right: 0;
    margin-top: -43px;
}
/* ================ expert areas end ============== */

/* ================ Services start ============= */
#service{
    margin-top: 100px;
    background: #fff7d5;
    padding: 75px 0;
}
#service .container .heading h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #353535;
}
#service .container .heading p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 180%;
    color: #7a7a7a;   
}
#service .container .row .box {
    text-align: center;
    padding: 70px 30px;
    border: 0.10px solid #353535;
    border-radius: 12px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    margin-top: 73px;
    width: 350px;
    height: 422px;
    transition: transform 0.3s ease, background 0.3s ease;
}

#service .container .row .box:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    background: linear-gradient(151deg, #fc0 0%, #ffe476 98.84%);
    transform: scale(1.06); /* Scales the box smoothly */
}

#service .container .row .box h3{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    color: #353535;   
    margin-top: 30px; 
}
#service .container .row .box p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 180%;
    color: #7a7a7a;  
    margin-top: 10px; 
}
/* ================ Services end ============== */

/* ================ clint feedback start ============= */
#feedback{
    margin-top: 91px;
}
#feedback .heading h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 135%;
    color: #353535;    
}
#feedback .heading p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #7a7a7a;
    margin-top: 13px;    
}
#feedback .container .row{
    align-items: center;
    margin-top: 63px;
}

#feedback .container .text p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #7a7a7a;   
}
#feedback .container .text h4{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 200%;
    color: #353535;    
}
#feedback .container .text p span{
    font-size: 16px; 
}
/* ================ clint  feedback end ============== */

/* ================ blog start ============= */
#blog{
    margin-top: 91px;
}
#blog .container .heading h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 135%;
    text-align: right;
    color: #353535;   
}
#blog .box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

#blog .box p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 190%;
    color: #7a7a7a;    
}
#blog .box p span{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 190%;
    color: #353535; 
    margin-left: 15px;   
}
#blog .box h3{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 190%;
    color: #353535; 
    margin-top: 10px;   
}
#blog .box h5{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 190%;
    color: #353535;  
    margin-top: 75px;  
}
/* ================ blog end ============== */
